<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         bootstrap="PHPDCD/Autoload.php">
  <testsuites>
    <testsuite name="PHPDCD">
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHPDCD</directory>
    </whitelist>
  </filter>
</phpunit>
